{% extends 'main/layout.html' %}

{% block title %}ItStore{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <main>
        <h1 class="page-heading">Заказы</h1>
        <section class="section">
            {% for el in cheque %}
            <div class="section__line line">
                <div class="line__text">
                    <h2 class="line__heading">Заказ №{{ el.id }}</h2>
                    <div class="line__description">
                        {% for prod in el.product_id.all %}
                        <a href="{% url 'product-detail' prod.id %}" class="line__description-text">{{ prod.category_id.name }}  {{ prod.model }}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'cheque-detail' el.id %}" class="line__btn btn btn-info">Подробнее</a>
            </div>
            {% endfor %}
        </section>
    </main>
    {% include 'main/footer.html' %}
{% endblock %}