{% extends 'main/layout.html' %}

{% block title %}ItStore{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <main>
        <div class="head">
            <h1 class="page-heading">Заказ №{{ cheque.id }}</h1>
            <div class="head__wrapper">
                <a href="{% url 'cheque-update' cheque.id %}" class="catalog__btn btn btn-primary">Редактировать</a>
                <a href="{% url 'cheque-delete' cheque.id %}" class="catalog__btn btn btn-danger">Удалить</a>
            </div>
        </div>
        <section class="cheque">
            <div class="cheque__block user">
                <h2 class="cheque__heading">О заказчике:</h2>
                <div class="cheque__wrapper">
                    <ul class="cheque__list cheque__list_width-big">
                        <li class="cheque__item cheque__item_underline"><p class="cheque__text">Имя</p></li>
                        <li class="cheque__item cheque__item_underline"><p class="cheque__text">Фамилия</p></li>
                        <li class="cheque__item cheque__item_underline"><p class="cheque__text">Email</p></li>
                    </ul>
                    <ul class="cheque__list">
                        <li class="cheque__item"><p class="cheque__text">{{ cheque.user_id.first_name }}</p></li>
                        <li class="cheque__item"><p class="cheque__text">{{ cheque.user_id.last_name }}</p></li>
                        <li class="cheque__item"><p class="cheque__text">{{ cheque.user_id.email }}</p></li>
                    </ul>
                </div>
            </div>
            <div class="cheque__block market">
                <h2 class="cheque__heading">Можно забрать:</h2>
                <div class="cheque__wrapper">
                    <ul class="cheque__list cheque__list_width-big">
                        <li class="cheque__item cheque__item_underline"><p class="cheque__text">Город</p></li>
                        <li class="cheque__item cheque__item_underline"><p class="cheque__text">Улица</p></li>
                        <li class="cheque__item cheque__item_underline"><p class="cheque__text">Дом</p></li>
                        <li class="cheque__item cheque__item_underline"><p class="cheque__text">Метро</p></li>
                    </ul>
                    <ul class="cheque__list">
                        <li class="cheque__item"><p class="cheque__text">{{ cheque.market_id.city }}</p></li>
                        <li class="cheque__item"><p class="cheque__text">{{ cheque.market_id.street }}</p></li>
                        <li class="cheque__item"><p class="cheque__text">{{ cheque.market_id.house }}</p></li>
                        <li class="cheque__item"><p class="cheque__text">{{ cheque.market_id.underground }}</p></li>
                    </ul>
                </div>
            </div>
            <div class="cheque__block good">
                <h2 class="cheque__heading">Товары:</h2>
                <div class="cheque__row catalog">
                    {% for el in cheque.product_id.all %}
                    <div class="catalog__card">
                        <img src="{{ el.photo.url }}" alt="{{ el.category_id.name }}" class="catalog__img">
                        <h3 class="catalog__heading">{{ el.model }}</h3>
                        <p class="catalog__text">{{ el.category_id.name }}</p>
                        <p class="catalog__text">{{ el.brand_id.name }}</p>
                        <div class="catalog__end">
                            <p class="catalog__price">{{ el.price }} ₽</p>
                            <a href="{% url 'product-detail' el.id %}" class="catalog__btn btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="cheque__description">
                    <h2 class="cheque__heading">Опиание:</h2>
                    <p class="cheque__description-text">{{ cheque.description }}</p>
                </div>
            </div>
        </section>
    </main>
    {% include 'main/footer.html' %}
{% endblock %}