{% extends 'main/layout.html' %}

{% block title %}ItStore{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <main>
        <h1 class="page-heading">Удаление заказа</h1>
        <form style="max-width: 50%; margin: 0 auto;" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Удалить">
        </form>
    </main>
    {% include 'main/footer.html' %}
{% endblock %}