{% extends 'main/layout.html' %}

{% block title %}ItStore{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <main>
        <h1 class="page-heading">Форма</h1>
        <form style="max-width: 50%; margin: 0 auto;" method="post">
            {% csrf_token %}
            {{ form.user_id }}<br>
            {{ form.market_id }}<br>
            {{ form.product_id }}<br>
            {{ form.description }}<br>
            <span>{{ error }}</span>
            <input class="btn btn-primary" type="submit" value="Создать">
        </form>
    </main>
    {% include 'main/footer.html' %}
{% endblock %}