{% load static %}
<header class="header">
    <div class="header__wrapper">
        <p class="header__logo"><i class="fas fa-brain"></i>ItStore</p>
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="{% url 'home' %}"><i class="fas fa-location-arrow"></i>Главная</a></li>
                <li class="nav__item"><a class="nav__link" href="{% url 'create' %}"><i class="fas fa-cart-plus"></i>Собрать заказ</a></li>
                <li class="nav__item"><a class="nav__link" href="{% url 'products' %}"><i class="fas fa-eye"></i>Каталог</a></li>
                <li class="nav__item"><a class="nav__link" href="{% url 'cheques' %}"><i class="fas fa-eye"></i>Заказы</a></li>

            </ul>
        </nav>
        <div class="header__contact contact">
            <a class="cantact__text" href="tel:+79999999999"><i class="fas fa-phone"></i>+7 (999) 999-99-99</a>
            <a class="cantact__text" href="mailto:example@mail.ru"><i class="fas fa-envelope"></i>example@mail.ru</a>
        </div>
    </div>
</header>