{% extends 'main/layout.html' %}

{% block title %}ItStore{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <main>
        <h1 class="page-heading">Магазин электроники "ItStore"</h1>
        <section class="section">
            <h2 class="section__heading">Специальное предложение</h2>
            <div class="section__catalog catalog">
                {% for el in product %}
                    <div class="catalog__card">
                        <img src="{{ el.photo.url }}" alt="{{ el.category_id.name }}" class="catalog__img">
                        <h3 class="catalog__heading">{{ el.model }}</h3>
                        <p class="catalog__text">{{ el.category_id.name }}</p>
                        <p class="catalog__text">{{ el.brand_id.name }}</p>
                        <div class="catalog__end">
                            <p class="catalog__price">{{ el.price }} ₽</p>
                            <a href="{% url 'product-detail' el.id %}" class="catalog__btn btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="section">
            <h2 class="section__heading">Категории товаров в нашем магазине</h2>
            <div class="section__column column" id="column">
                {% for el in category %}
                    <div class="column__card">
                        <h3 class="column__heading">{{ el.name }}</h3>
                        <p class="column__description">{{ el.description }}</p>
                    </div>
                {% endfor %}
            </div>
            <button class="section__btn" id="columnBtn">Раскрыть</button>
        </section>
        <section class="section">
            <h2 class="section__heading">Бренды представленные в нашем магазине</h2>
            <div class="section__slider slider" id="slider">
                {% for el in brand %}
                    <div class="slider__card">
                        <img class="slider__img" src="{{ el.photo.url }}" alt="">
                        <h3 class="slider__heading">{{ el.name }}</h3>
                    </div>
                {% endfor %}
            </div>
            <button class="section__btn" id="sliderBtn">Раскрыть</button>
        </section>
    </main>
    {{ category_data }}
    {% include 'main/footer.html' %}
{% endblock %}