{% extends 'main/layout.html' %}

{% block title %}ItStore{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <main>
        <h1 class="page-heading">{{ product.category_id.name }} {{ product.model }}</h1>
        <section class="product">
            <div class="product__wrapper">
                <img src="{{ product.photo.url }}" alt="{{ product.category_id.name }}" class="product__img">
                <div class="product__otion option">
                    <h2 class="option__heading">Характеристики:</h2>
                    <div class="option__wrapper">
                        <ul class="option__list option__list_width-big">
                            <li class="option__item option__item_underline"><p class="option__text">Категория</p></li>
                            <li class="option__item option__item_underline"><p class="option__text">Бренд</p></li>
                            <li class="option__item option__item_underline"><p class="option__text">Количество</p></li>
                            <li class="option__item option__item_underline"><p class="option__text">Рейтинг</p></li>
                            <li class="option__item option__item_underline"><p class="option__text">{{ product.category_id.option1 }}</p></li>
                            <li class="option__item option__item_underline"><p class="option__text">{{ product.category_id.option2 }}</p></li>
                        </ul>
                        <ul class="option__list">
                            <li class="option__item"><p class="option__text">{{ product.category_id.name }}</p></li>
                            <li class="option__item"><p class="option__text">{{ product.brand_id.name }}</p><img src="{{ product.brand_id.photo.url }}" alt="{{ product.brand_id.name }}" class="option__img"></li>
                            <li class="option__item"><p class="option__text">{{ product.quanity }}</p></li>
                            <li class="option__item"><p class="option__text">{{ product.rating }}</p></li>
                            <li class="option__item"><p class="option__text">{{ product.option1 }}</p></li>
                            <li class="option__item"><p class="option__text">{{ product.option2 }}</p></li>
                        </ul>
                    </div>
                </div>
                <p class="product__price h2">{{ product.price }} ₽</p>
            </div>
            <div class="product__description">
                <h2 class="description__heading">Описание:</h2>
                <p class="description__text">{{ product.description }}</p>
            </div>
        </section>
    </main>
    {% include 'main/footer.html' %}
{% endblock %}