{% extends 'main/layout.html' %}

{% block title %}ItStore{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <main>
        <h1 class="page-heading">Каталог</h1>
        <section class="section">
            {% for el in product %}
            <div class="section__line line">
                <img src="{{ el.photo.url }}" alt="{{ el.category_id.name }}" class="line__img">
                <div class="line__text">
                    <h2 class="line__heading">{{ el.category_id.name }}  {{ el.model }}</h2>
                    <p class="line__rating"><i class="fas fa-star"></i>{{ el.rating }}</p>
                </div>
                <div class="line__buy">
                    <p class="line__price h4">{{ el.price }} ₽</p>
                    <a href="{% url 'product-detail' el.id %}" class="line__btn btn btn-info">Подробнее</a>
                </div>
            </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </section>
    </main>
    {% include 'main/footer.html' %}
{% endblock %}