$section-color : #8BAAAD;

* {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
}

$base-size: 16;

@function rem($size) {
    $remSize: $size / $base-size;
    @return #{$remSize}rem;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

.header {
    background-color: $section-color;
    padding: 30px;
    margin-bottom: 40px;
}

.header__wrapper {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: rem(30);
    font-weight: 800;
}

.fas {
    margin-right: 5px;
}

.fa-brain {
    font-size: rem(45);
}

.fa-location-arrow,
.fa-eye,
.fa-cart-plus {
    font-size: rem(24);
}

.nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    transition: all 0.7s ease;
}

.nav__item {
    transition: all 0.7s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.nav__link {
    transition: all 0.7s ease;
    font-size: rem(23);
    font-weight: 600;

    &:hover {
        color: rgb(191, 88, 88);
    }
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.cantact__text {
    font-size: rem(20);
    transition: all 0.7s ease;

    &:hover {
        color: rgb(191, 88, 88);
        transform: scale(1.05);
    }
}

.footer {
    background-color: $section-color;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 30px;
}

.page-heading {
    text-align: center;
    font-size: rem(27);
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.section {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
}

.section__heading {
    font-size: rem(27);
    margin-bottom: 20px;
}

.section__catalog {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 40px;
    align-items: center;
    row-gap: 30px;
}

.catalog__card {
    width: 300px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    background-color: rgb(214, 214, 214);
    padding-bottom: 20px;
}

.catalog__img {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
}

.catalog__heading {
    font-size: rem(20px);
}

.section__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 8px;
    max-height: 216px;
    overflow: hidden;
}

.column__card {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    background-color: rgb(214, 214, 214);
}

.column__heading {
    font-size: rem(30);
    align-self: center;
    text-align: center;
    min-width: 300px;
}

.column__description {
    font-size: rem(20);
    padding-left: 3px;
    border-left: 1px solid black;
}

.section__slider {
    padding: 8px 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    width: 100%;
    max-height: 266px;
    overflow: hidden;
}

.active {
    max-height: none;
    overflow: auto;
}

.slider__card {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    background-color: rgb(214, 214, 214);
}

.slider__img {
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

.slider__heading {
    font-size: rem(20);
}

.catalog__end {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.catalog__price {
    font-size: rem(20);
}

.section__btn {
    background: none;
    border: none;
    font-size: rem(18);
    color: blue;
    text-decoration: underline;
    margin-left: auto;
    margin-top: 20px;
}

.section__line{
    border-top: 1px solid #1A162A;
    border-bottom: 1px solid #1A162A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    width: 100%;
    margin-top: 60px;
}
.line__text{
    height: 250px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
}
.line__buy{
    height: 250px;
    padding-top: 30px;
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
}
.line__description{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.line__description-text{
    text-decoration: underline;
    &:hover{
        color: blue;
    }
}
.line__img{
    margin-right: 20px;
    max-height: 250px;
    height: 100%;
}
.product {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
}
.product__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.product__img {
    max-height: 500px;
    height: 100%;
}
.product__otion {
    margin-left: 50px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.option__wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.option__list_width-big{
    width: 100%;
}
.option__item {
    min-height: 50px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3px;
}
.option__item_underline{
    border-bottom: 1px solid rgb(91, 91, 91);
}
.option__img{
    width: 80px;
    height: 40px;
    margin-left: 8px;
}
.product__price {
    min-width: 200px;
    text-align: end;
    padding-top: 30px;
}
.product__description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.cheque {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "user market"
    "product product";
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 100px;
}
.cheque__block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin-top: 40px;
}
.user {
    grid-area: user;
}
.cheque__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cheque__list{
    min-width: 200px;
}
.cheque__list_width-big{
    width: 100%;
}
.cheque__item {
    min-height: 50px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3px;
}
.cheque__item_underline {
    border-bottom: 1px solid rgb(91, 91, 91);
}
.market {
    grid-area: market;
}
.good {
    grid-area: product;
}
.cheque__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}
.cheque__description{
    margin-top: 40px;
}
.cheque__description-text{
    margin-top: 20px;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
.head__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
}